GOOGLE_API_KEY=AQ.Ab8RN6Kia1O0C8vxqsZJiLI9ac9TOZa4iR25j2dNBHdxNbYQ1g
GEMINI_MODEL=gemini-2.5-flash
DATABASE_URL=postgresql://postgres:mSFkayMxpjHIrFSakYQgvtDVGleuilWD@hayabusa.proxy.rlwy.net:45376/railway
