GOOGLE_API_KEY=AQ.Ab8RN6Jzi5TuJJKjXE62DOtOUqUEoOgkDj1JUx7HAi8lS4PN9w
GEMINI_MODEL=gemini-2.5-flash
DATABASE_URL=postgresql://postgres:mSFkayMxpjHIrFSakYQgvtDVGleuilWD@hayabusa.proxy.rlwy.net:45376/railway
